<div class="container" style="margin-top: 10px">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>アカウント情報</h2>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

                <div class="field">
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "新しいメールアドレスを入力" %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password %> <i>(パスワードを変更しない場合は空のまま送信してください)</i><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                </div>

                <div class="field">
                  <%= f.label :current_password %> <i>(アカウント情報を更新するには現在のパスワードが必要です)</i>
                  <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
                </div><br>

                <div class="actions">
                  <%= f.submit "アカウント情報を更新する", class: "btn btn-primary btn-block" %>
                </div>
              <% end %>

              <h3>退会</h3>

              <p>退会する場合はボタンを押してください。 <%= button_to "退会する", registration_path(resource_name), 
              data: { confirm: "本当に退会してもよろしいですか？退会した場合、同じメールアドレスで登録できなくなりますのでご注意ください。" }, method: :delete,
              class: "btn btn-danger btn-block" %></p>

              <%= link_to "戻る", :back %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "devise/shared/error_messages", resource: resource %>