<div class="container devise_top">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2>アカウント情報</h2>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

                <div class="field">
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "新しいメールアドレスを入力" %>
                </div>

                <div class="field">
                  <%= f.label :password %> <i><strong>(パスワードを変更しない場合は空のまま送信してください)</i></strong>
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                  <% if @minimum_password_length %>
                    <br />
                    <strong><%= @minimum_password_length %> 文字以上で入力してください</strong>
                  <% end %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                </div>

                <div class="field">
                  <%= f.label :current_password %> <i><strong>(アカウント情報を更新するには現在のパスワードが必要です)</i></strong>
                  <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
                </div><br>

                <div class="actions">
                  <%= f.submit "アカウント情報を更新する", class: "btn btn-primary btn-block" %>
                </div>
              <% end %>
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>退会</h3>
                <p>退会する場合はボタンを押してください。 <%= button_to "退会する", registration_path(resource_name), 
                data: { confirm: "本当に退会してもよろしいですか？" }, method: :delete,
                class: "btn btn-danger btn-block" %></p>
              <%= link_to "戻る", :back %>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "devise/shared/error_messages", resource: resource %>