<div class="col-xs-3">
  <div class="side-nav menu-box">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info ">
        <%= attachment_image_tag user, :profile_image, format: "jpeg", size:"50x50", fallback: "no_image.jpg", class: "img-circle" %>
        <%= user.user_name %>
        <%= link_to "編集する", edit_user_path(user) %>
      </li>
      <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-user" aria-hidden="true">
          <%= link_to "フォロー", follows_user_path(user) %> <%= user.followings.count %>
        </span>
      </li>
      <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-user" aria-hidden="true">
          <%= link_to "フォロワー", followers_user_path(user) %> <%= user.followers.count %>
        </span>
      </li>
      <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true">
          <%= link_to "マイページ", user_path(user) %>
        </span>
      </li>
      <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-star" aria-hidden="true">
          <%= link_to "コミュニティ一覧", rooms_path %>
        </span>
      </li>
      <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
          <%= link_to "Myコミュニティ", homes_community_path %>
        </span>
      </li>
      <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true">
          <%= link_to "投稿する", posts_new_path %>
        </span>
      </li>
      <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-edit" aria-hidden="true">
          <%= link_to "トレーニングを記録する", training_record_new_path  %>
        </span>
      </li>
      <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-signal" aria-hidden="true">
          <%= link_to "成長を見る", training_records_path %>
        </span>
      </li>
      <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true">
          <%= link_to "ユーザー検索", users_path %>
        </span>
      </li>
    </ul>
  </div>
</div>