<div class="container">
  <div class="row">
  	<div class="col-xs-12 ">
  	  <div class="panel panel-default">
        <div class="panel-body">
          <%= form_for (@user) do |f| %>
              <h4>プロフィール画像</h4>
			  <%= f.attachment_field :profile_image, class: "user_image" %><br>
			  <h4>名前</h4>
			  <%= f.text_field :user_name, class: "user_name" %><br>
			  <h4>自己紹介文</h4>
			  <%= f.text_area :introduction, class: "introduction" %><br>

			  <%= f.submit "変更する", class: "btn btn-info" %>
		  <% end %>
		</div>
      </div>
    </div>
  </div>
</div>


