<div class="container">
  <div class="row">
  	<div class="col-xs-4 col-xs-offset-8">
	  <%= search_form_for @q do |f| %>
	    <%= f.label :ユーザー検索 %>
	    <%= f.search_field :user_name_cont %>
	    <%= f.submit "検索する", class: "glyphicon glyphicon-search" %>
      <% end %>
    </div>
    <%= render 'users/profire', user: current_user %>
    <div class="col-xs-8">
      <% @users.each do |user| %>
        <div class="panel panel-info">
          <div class="panel-body">
          	<div class="panel-body">
              <%= attachment_image_tag user, :profile_image, format: "jpeg", size:"50x50", class: "img-circle" %>
              <%= link_to user.user_name, user_path(user) %>
            </div>
            <div class="panel-body">
            <p><strong>自己紹介: </strong><%= user.introduction %></p>
           </div>
          </div>
        </div>
      <% end %>
	</div>
  </div>
</div>