<div class="container">
  <div class="row">
  	<div class="col-xs-4 col-xs-offset-8">
  	  <%= search_form_for @q do |f| %>
  	    <%= f.label :会員検索 %>
  	    <%= f.search_field :user_name_cont %>
  	    <%= f.submit "検索する", class: "glyphicon glyphicon-search" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= render 'users/profire', user: current_user %>
    <div class="col-xs-9">
      <% @users.each do |user| %>
        <div class="panel panel-info">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-2">
                <%= attachment_image_tag user, :profile_image, format: "jpeg", size:"50x50", fallback: "no_image.jpg", class: "img-circle" %>
              </div>
              <div class="col-xs-7">
                <%= link_to user.user_name, user_path(user) %>
              </div>
              <div class="col-xs-2 ">
                <% if current_user != user %>
                  <% if user.followed_by?(current_user) %>
                    <%=link_to "フォロー済み", relation_ship_path(user, params: {followed_id: user.id}), class: "btn btn-primary",method: :delete %>
                  <% else %>
                    <%=link_to "フォローする", relation_ships_path(user, params: {followed_id: user.id}), class: "btn btn-default",method: :post %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-2">
                <p><strong>自己紹介</strong></p>
              </div>
              <div class="col-xs-9">
                <%= simple_format(user.introduction) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>