<div class="row">
  <%= render 'users/profire', user: @user %>
  <div class="col-xs-8">
  	<% if @user == current_user %>
  	  <% @posts.each do |post| %>
  	  	<div class="panel panel-default">
  	  	  <div class="panel-body">
  	  	  	<%= current_user.user_name %>
  	  	  </div>
          <div class="panel-body">
            <%= post.posts %>
          </div>
        </div>
       <% end %>
    <% else %>
      <div class="panel panel-default">
  	  	  <div class="panel-body">
  	  	  	<%= @user.user_name %>
  	  	  </div>
          <div class="panel-body">
            <%= @user.intorduction %>
          </div>
          <% @posts.each do |post| %>
  	  	  <div class="panel panel-default">
  	  	    <div class="panel-body">
  	  	    </div>
            <div class="panel-body">
              <%= post.posts %>
            </div>
        </div>
       <% end %>
    <% end %>

</div>
