<div class="col-xs-3">
  <ul class="list-group ">
    <li class="list-group-item list-group-item-warning">
      <span class="glyphicon glyphicon-user" aria-hidden="true">
        <%= link_to "ユーザー一覧", admin_users_path %>
    </span>
    </li>
    <li class="list-group-item list-group-item-warning">
      <span class="glyphicon glyphicon-book" aria-hidden="true">
        <%= link_to "投稿一覧", admin_posts_path %>
      </span>
    </li>
    <li class="list-group-item list-group-item-warning">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true">
        <%= link_to "メニュー追加・編集・削除", admin_training_menus_path %>
      </span>
    </li>
    <li class="list-group-item list-group-item-warning">
      <span class="glyphicon glyphicon-star" aria-hidden="true">
        <%= link_to "コミュニティ一覧", admin_rooms_path %>
      </span>
    </li>
    <li class="list-group-item list-group-item-warning">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true">
        <%= link_to "トレーニング動画投稿", "#"%>
      </span>
    </li>
    <li class="list-group-item list-group-item-warning">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true">
        <%= link_to "お問い合わせ確認", "#" %>
      </span>
    </li>
    <li class="list-group-item list-group-item-warning">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true">
        <%= link_to "マイページへ", user_path(user) %>
      </span>
    </li>
  </ul>
</div> 