<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <p>ここは管理人専用です</p>
    </div>
  </div>
  <div class="row">
    <%= render 'admin/homes/admin_menu', user: current_user %>
    <div class="col-xs-9">
        <div class="panel panel-warning">
      	  <div class="panel-body">
            <div class="row">
              <div class="col-xs-2">
                <%= attachment_image_tag @post.user, :profile_image, format: "jpg", size:"50x50", class: "img-circle", fallback: "no_image.jpg"%>
              </div>
              <div class="col-xs-5">
          	  	<%= link_to @post.user.user_name, admin_user_path(@post.user) %>
              </div>
              <div class="col-xs-3">
                <p><%= time_ago_in_words(@post.created_at) %>前に投稿</p>
              </div>
              <div class="col-xs-2">
                <%= link_to "削除する", admin_post_path(@post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
              </div>
      	    </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-2">
                <p><strong>投稿内容</strong></p>
              </div>
              <div class="col-xs-10">
                <%= simple_format(@post.post) %>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-4 col-xs-offset-4">
                <%= attachment_image_tag @post, :training_image, format: 'jpeg', size: "200x200", class: "img-rounded" %>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-3">
                <h5><%= @post.post_messages.count %> 件のコメント</h5>
              </div>
              <div class="col-xs-12">
                <%= render "admin/posts/tags", post: @post %>
              </div>
            </div>
          </div>
        </div>
        <% @post_messages.each do |post_message| %>
          <div class="panel panel-warning">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-2">
                  <%= attachment_image_tag post_message.user, :profile_image, format: "jpg", size:"50x50", class: "img-circle", fallback: "no_image.jpg"%>
                </div>
                <div class="col-xs-5">
                  <%= link_to post_message.user.user_name, admin_user_path(post_message.user) %>
                </div>
                <div class="col-xs-3">
                  <p><%= time_ago_in_words(post_message.created_at) %>前にコメント</p>
                </div>
                <div class="col-xs-2">
                  <%= link_to "コメント削除",  admin_post_message_path(post_id: @post.id, id: post_message.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-7 col-xs-offset-2">
                  <%= simple_format(post_message.post_message) %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>