<div class="container">
  <div class="row">
  	<%= render 'admin/homes/admin_menu' %>
  	<div class="col-xs-9">
  	  <div class="panel panel-warning">
        <div class="panel-body">
	  	  <%= form_for(@training_menu, url: admin_training_menus_path) do |f| %>
	        <h4>トレーニングメニュー登録</h4>
	        <%= f.text_field :training_manu, class: "form-control" %>
		    <%= f.submit "登録する", class: "btn btn-default" %>
	      <% end %>
	    </div>
	  </div>

      <div class="row">
      	<div class="col-xs-12">
	      <table class="table table-bordered">
	      	<thead>
	      	  <tr>
	      	  	<th>id</th>
	      	  	<th>menu_name</th>
	      	  	<th></th>
	      	  	<th></th>
	      	  </tr>
	      	</thead>
	        <% @training_menus.each do |training_menu| %>
	        <tbody>
	          <tr>
	        	<td><%= training_menu.id %></td>
	            <td><%= training_menu.training_manu %></td>
	            <td><%= link_to "編集", edit_admin_training_menu_path(training_menu) %></td>
	            <td><%= link_to "削除", "#" %></td>
	          </tr>
	  	  	</tbody>
  	        <% end %>
  	      </table>
        </div>
      </div>
    </div>
  </div>
</div>