<div class="container">
  <div class="row">
  	<%= render 'admin/homes/admin_menu', user: current_user %>
  	<div class="col-xs-9">
  	  <div class="panel panel-warning">
  	  	<div class="panel-heading">
  	  	  <h4>トレーニングメニュー登録</h4>
        </div>
        <div class="panel-body">
	  	  <%= form_for(@training_menu, url: admin_training_menus_path) do |f| %>
	  	    <%= render 'layouts/error_messages', model: f.object %>
	        <%= f.text_field :menu, class: "form-control" %><br>
		    <%= f.submit "登録する", class: "btn btn-primary" %>
	      <% end %>
	    </div>
	  </div>

      <div class="row">
      	<div class="col-xs-12">
      	  <h4>メニュー一覧</h4>
	      <table class="table table-bordered">
	      	<thead>
	      	  <tr>
	      	  	<th>番号</th>
	      	  	<th>id</th>
	      	  	<th>menu_name</th>
	      	  	<th colspan="2">項目選択</th>
	      	  </tr>
	      	</thead>
	        <% @training_menus.each do |training_menu| %>
	        <tbody>
	          <tr>
	          	<td></td>
	        	<td><%= training_menu.id %></td>
	            <td><%= training_menu.menu %></td>
	            <td><%= link_to "編集", edit_admin_training_menu_path(training_menu) %></td>
	            <td><%= link_to "削除", admin_training_menu_path(training_menu), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %></td>
	          </tr>
	  	  	</tbody>
  	        <% end %>
  	      </table>
        </div>
      </div>
    </div>
  </div>
</div>