<div class="content">
  <div id="top-image">
  	<div id="theTarget">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
    </div>
  </div>
  <div class="container">
    <div class="image-text-box">
	  <p class="image-text page-header">
	    To yourself you want to be<br>
	    Let's get started today!
	  </p>
    </div>
  </div>
  <div class="fit-box">
  	<div class="container">
  	  <div class="row">
  	  	<div class="col-xs-4 col-xs-offset-2">
			<div class="boxin">
				<h3>Let's continue！とは？</h3>
			</div>
	    </div>
	    <div class="col-xs-4 ">
	      <div class="boxin">
				<p class="boxin-p">ここではたくさんの仲間が、理想の体を手に入れるためにトレーニングしている姿を見ることができます。トレーニングを習慣にして、互いを高め合い、楽しくトレーニングを継続しましょう！</p>
		  </div>
	    </div>
	  </div>
    </div>
  </div>
  <main>
  	<div class="container">
  	  <div class="row">
  	  	<div class="col-xs-8 col-xs-offset-2">
  	  	  <h3 class="page-header text-center">Let's-continue!の主な利用方法の紹介</h3>
  	  	</div>
  	  </div>
  	  <div class="row">
  	  	<div class="col-xs-4 col-xs-offset-2">
  	  	  <h4>1.トレーニングを投稿</h4>
  	  	  <p>まずは今日のトレーニングを投稿しましょう。投稿することであなたのトレーニングを仲間が褒めてくれます。また、仲間の投稿をみることができます。あなたも積極的にトレーニング仲間を褒めてみましょう！モチベーションもきっと上がるはず！</p>
  	  	</div>
        <div class="col-xs-4">
          <h4>2.トレーニングを記録</h4>
          <p>あなたが行ったトレーニングを記録することができます。なかなか身体の変化はわかりませんが、トレーニングをすることで今日より明日、明日より明後日、目には見えない単位で、確実に体は成長しています。トレーニングを記録する習慣をつけることで成長を実感し、継続する習慣を身に付けましょう。</p>
        </div>
  	  </div>
  	  <div class="row">
  	  	<div class="col-xs-4 col-xs-offset-2">
  	  	  <div class="panel panel-default">
            <div class="panel-body">
              <%= image_tag 'beatsPAKU2891_TP_V.jpg', class: "img-responsive img-rounded", width: "400px" %>
            </div>
          </div>
  	  	</div>
        <div class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= image_tag 'PAK58_kiokuyorikiroku_TP_V.jpg', class: "img-responsive img-rounded", width: "400px" %>
            </div>
          </div>
        </div>
  	  </div>

  	  <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
          <h4>3.成長を実感</h4>
          <p>あなたが行ったトレーニング一覧を確認することができます。グラフで成長が確認できるので、自分の成長を実感しましょう。またトレーニングメニューごとに履歴を確認できます。</p>
        </div>
        <div class="col-xs-4">
          <h4>4.オフの日はコミュニティ</h4>
          <p>トレーニングには休養も大切。そんな日にはコミュニティを楽しもう！トレーンング以外の趣味や、興味・関心のあることなんでもOK！自分でコミュニティを作ったり、または参加してたくさんの仲間と繋がりましょう。</p>
        </div>
      </div>
  	  <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
  	  	  <div class="panel panel-default">
            <div class="panel-body">
            	<%= image_tag 'PAK85_deskshiryou20131223_TP_V.jpg', class: "img-responsive img-rounded", width: "400px" %>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
  	  	  <div class="panel panel-default">
            <div class="panel-body">
            	<%= image_tag 'toa-heftiba-6bKpHAun4d8-unsplash.jpg', class: "img-responsive img-rounded", width: "400px" %>
            </div>
          </div>
        </div>
      </div>
  	</div>
  </main>
  <div class="training">
  	<div class="container">
  	  <div class="image-text-box">
	      <p class="image-text page-header">
	        training
	      </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
      	<div class="col-xs-4 col-xs-offset-2">
      	  <div class="panel panel-default">
            <div class="panel-body">
            	<%= image_tag 'jonathan-borba-H6wTktsFxik-unsplash.jpg', class: "img-responsive img-rounded", width: "400px" %>
            </div>
            <div class="panel-body">
            	<p>Outwork</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
      	  <div class="panel panel-default">
            <div class="panel-body">
            	<%= image_tag 'RAN160214150I9A8237_TP_V.jpg', class: "img-responsive img-rounded", width: "400px" %>
            </div>
            <div class="panel-body">
            	<p>Running</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
      	  <div class="panel panel-default">
            <div class="panel-body">
            	<%= image_tag 'geert-pieters-NbpUM86Jo8Y-unsplash.jpg', class: "img-responsive img-rounded", width: "400px" %>
            </div>
            <div class="panel-body">
            	<p>Exercise</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
      	  <div class="panel panel-default">
            <div class="panel-body">
            	<%= image_tag 'gentrit-sylejmani-JjUyjE-oEbM-unsplash.jpg', class: "img-responsive img-rounded", width: "400px" %>
            </div>
            <div class="panel-body">
            	<p>Swimming</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="training">
  	<div class="container">
  	  <div class="image-text-box">
	      <p class="image-text page-header">
	        Let's start with
	      </p>
	    </div>
  	  <div class="col-xs-4 col-xs-offset-2">
  	  	<%= link_to "sign_up", new_user_registration_path, class: "btn btn-primary btn-block" %>
  	  </div>
  	  <div class="col-xs-4">
  	  	<%= link_to "login", new_user_session_path, class: "btn btn-default btn-block" %>
  	  </div>
    </div>
  </div>
  <footer>
  	<div class="footer-box">
  	  <p class="footer-text">© T.takeno. 2020.</p>
  	</div>
  </footer>
</div>



