<div class="container">
  <div class="row">
  	<div class="col-xs-8 col-xs-offset-2">
  	  <div class="row">
  	  	<div class="col-xs-12">
  	  	  <h2>あなたのBMI値は</h2>
  	  	</div>
  	  </div>
  	  <div class="panel panel-default">
        <div class="panel-body">
          <p><span class="bmi"><%= @calculation.floor(2) %></span>です。</p>
          <% if @calculation >= 18.50 && @calculation <= 24.99 %>
            <%= "いい感じです！この調子でトレーニングを頑張りましょう！" %>
          <% elsif @calculation >= 25 %>
            <%= "少し肥満気味かも。トレーニングをがんばりましょう！" %>
          <% else %>
            <%= "すこし痩せ気味かも。" %>
          <% end %>
        </div>
      </div>
      <table class="table table-bordered">
      	<thead>
      		<tr class="active">
      		  <th>状態</th>
      		  <th colspan="2">BMI指標</th>
      		</tr>
      	</thead>
      	<tbody>
      		<tr>
      			<td>痩せすぎ (重度の痩せ)</td>
      			<td>16.00未満</td>
      			<td rowspan="3">低体重(18.50未満)</td>
      		</tr>
      		<tr>
      			<td>痩せ (中度の痩せ)</td>
      			<td>16.00以上〜17.00未満</td>
      		</tr>
      		<tr>
      			<td>痩せぎみ (軽度の痩せ)</td>
      			<td>17.00以上〜18.50未満</td>
      		</tr>
      		<tr>
      			<td>普通</td>
      			<td>18.50以上〜25.00未満</td>
      			<td>標準</td>
      		</tr>
      		<tr>
      			<td>過体重 (前肥満)</td>
      			<td>25.00以上〜30.00未満</td>
      			<td>太り気味 (25.00以上)</td>
      		</tr>
      		<tr>
      			<td>肥満 (1度)</td>
      			<td>30.00以上〜35.00未満</td>
      			<td rowspan="3">肥満 (30.00以上)</td>
      		</tr>
      		<tr>
      			<td>肥満 (2度)</td>
      			<td>35.00以上〜40.00未満</td>
      		</tr>
      		<tr>
      			<td>肥満 (3度)</td>
      			<td>40.00以上</td>
      		</tr>
      	</tbody>
      </table>
      <%= link_to "戻る", users_bmi_path %>
    </div>
  </div>
</div>
