<div class="container">
  <div class="row">
    <%= render 'users/profire', user: current_user %>
    <div class="col-xs-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>コミュニティ作成</h2>
          <%= form_with model: @room do |f| %>
            <%= f.label :コミュニティ名 %>
            <%= f.text_field :name, class: "form-control" %><br>
            <%= f.submit "作成", class: "btn btn-primary btn-block" %>
          <% end %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>参加コミュニティ一覧</h2>
        </div>
      </div>
      <% @rooms.each do |room| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= link_to room.name, room_path(room) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>