<div class="container">
  <div class="row">
    <%= render 'users/profire', user: current_user %>
    <div class="col-xs-9">
  	  <div class="panel panel-info">
  	  	<div class="panel-heading">
  	  	  <h4>トレーニングを記録</h4>
        </div>
        <div class="panel-body">
  	  	  <%= form_with model: @training_record do |f| %>
            <p>メニューを選択</p>
            <%= f.collection_select(:training_menu_id, @training_menus, :id, :menu, {prompt: "メニューを選択してください"} ) %>
            <p>重さ</p>
            <%= f.text_field :weight, class: "form-control" %><br>
            <p>回数</p>
            <%= f.text_field :rep, class: "form-control" %><br>
            <%= f.submit "記録する", class: "btn btn-primary" %>
          <% end %>
	      </div>
	    </div>
	  </div>
  </div>
</div>