<div class="container">
  <div class="row">
    <%= render 'users/profire', user: current_user %>

  	<div class="col-xs-9">
	    <div class="panel panel-info">
	  	  <div class="panel-body">
          <div class="row">
            <div class="col-xs-2">
              <%= attachment_image_tag @post.user, :profile_image, format: "jpg", size:"50x50", class: "img-circle", fallback: "no_image.jpg"%>
            </div>
            <div class="col-xs-4">
        	  	<%= link_to @post.user.user_name, user_path(@post.user) %>
            </div>
            <div class="col-xs-3">
                <p><%= time_ago_in_words(@post.created_at) %>に投稿</p>
              </div>
            <% if @post.user == current_user %>
              <div class="col-xs-3">
                <%= link_to "編集する", edit_post_path(@post), class: "btn-sm btn-info" %>
                <%= link_to "削除する", post_path(@post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
              </div>
            <% end %>
	  	    </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-2">
              <p><strong>投稿内容</strong></p>
            </div>
            <div class="col-xs-9">
              <%= simple_format(@post.post) %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
              <%= attachment_image_tag @post, :training_image, format: 'jpeg', size: "200x200", class: "img-rounded" %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-2">
              <div id="good_<%= @post.id %>">
                <%= render 'goods/good', post: @post %>
              </div>
              <h5><%= @post.post_messages.count %> 件のコメント</h5>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <%= render "posts/tags", post: @post %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <%= form_with(model: [@post,@post_messages], remote: true, url: post_post_messages_path(post_id: @post.id)) do |f| %>
                <%= f.text_area :post_message, class: "form-control", size:"5x5" %><br>
                <%= f.submit "コメントする", class: "btn-sm btn-default btn-block" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <h3>コメント一覧</h3>
      <div id="post_message_area_<%= @post.id %>">
        <%= render "post_messages/post_messages", post_messages: @post_messages %>
      </div>
    </div>
  </div>
</div>
