<div class="container">
  <div class="row">
  	<div class="col-xs-12">
	    <div class="panel panel-default">
	  	  <div class="panel-body">
          <%= attachment_image_tag @post.user, :profile_image, format: "jpg", size:"50x50", class: "img-circle"%>
  	  	  <%= link_to @post.user.user_name, user_path(@post.user) %>
	  	  </div>
        <div class="panel-body">
          <%= simple_format(@post.post) %>
        </div>
      </div>
    </div>
  </div>
  <% if @post.user == current_user %>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <%= link_to "編集する", edit_post_path(@post), class: "btn-sm btn-info" %>
        <%= link_to "削除する", post_path(@post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
      </div>
    </div>
  <% end %>
</div>