<!DOCTYPE html>
<html>
  <head>
    <title>LetsContinue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top:100px;">
    <header>
      <nav class="navbar navbar-fixed-top" style="background-color:#e3f2fd; padding:20px;">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "Let's continue!", "#", class: "navbar-brand" %>
              <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                  <li><%= link_to "home", posts_path %></li>
                  <li><%= link_to "about", homes_about_path %></li>
                  <li><%= link_to "BMI", users_bmi_path %></li>
                  <li><%= link_to "log_out", destroy_user_session_path, method: "delete" %></li>
                <% else %>
                  <li><%= link_to "home", posts_path %></li>
                  <li><%= link_to "about", homes_about_path %></li>
                  <li><%= link_to "BMI", users_bmi_path %></li>
                  <li><%= link_to "log_in", new_user_session_path %></li>
                  <li><%= link_to "sign_up", new_user_registration_path %></li>
                <% end %>
              </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
