<!DOCTYPE html>
<html>
  <head>
    <title>LetsContinue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>

  </head>

  <body style="padding-top:90px;">
    <header>
      <nav class="navbar navbar-fixed-top" style="background-color:#e3f2fd; padding: 20px">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "Let's continue!", root_path, class: "navbar-brand" %>
              <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                  <li><%= link_to "home", posts_path %></li>
                  <li><%= link_to "about", homes_about_path %></li>
                  <li><%= link_to "BMI", users_bmi_path %></li>
                  <li><%= link_to "my_account", edit_user_registration_path %></li>
                  <li><%= link_to "log_out", destroy_user_session_path, method: "delete" %></li>
                  </li><p class="navbar-text">ようこそ<%= current_user.user_name %>さん！</p></li>
                <% elsif admin_signed_in? %>
                  <li><%= link_to "home", admins_homes_top_path %></li>
                  <li><%= link_to "log_out", destroy_admin_session_path, method: "delete" %></li>
                  <li><p class="navbar-text">管理人がログインしています</p></li>

                <% else %>
                  <li><%= link_to "top", homes_top_path %></li>
                  <li><%= link_to "about", homes_about_path %></li>
                  <li><%= link_to "BMI", users_bmi_path %></li>
                  <li><%= link_to "log_in", new_user_session_path %></li>
                  <li><%= link_to "sign_up", new_user_registration_path %></li>
                <% end %>
              </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% key = "success" if key == "notice" %>
          <% key = "error" if key == "alert" %>
          toastr['<%= key %>']('<%= value %>');
        <% end %>
      </script>
    <% end %>
  </body>
</html>
